<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gestor_de_produtos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Gestor_de_produtos.Properties.Settings>
            <setting name="estoquebaixo" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="mysqlbin" serializeAs="String">
                <value>C:\Program Files\MySQL\MySQL Server 8.0\bin</value>
            </setting>
            <setting name="backupfolder" serializeAs="String">
                <value />
            </setting>
        </Gestor_de_produtos.Properties.Settings>
    </userSettings>
</configuration>